.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(131, 88, 88);
}

.App-link {
  color: #09d3ac;
}

.quoteBox {
  text-align: center;
}

button {
  border: outset;
  border-color: turquoise;
  background-color: cornflowerblue;
  font-size: 25px;
  border-radius: 2px;
};
